HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/




### 🚨 보안상 중요한 파일 (절대 올리지 않음!) ###
# 1. 실제 설정 파일 무시
src/main/resources/application.yml
# 2. 도커 설정 파일 무시 (비번 들어있음)
docker-compose.yml
# 3. 맥/윈도우 시스템 파일
.DS_Store
Thumbs.db